* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background-color: rgb(85, 201, 247);
}
.snare-pad {
  background-color: rgb(240, 245, 177);
}
.hihat-pad {
  background-color: rgb(199, 159, 245);
}
.kick-pad.active {
  background-color: rgb(49, 159, 202);
}
.snare-pad.active {
  background-color: rgb(225, 235, 85);
}
.hihat-pad.active {
  background-color: rgb(175, 117, 241);
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background-color: grey;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size:1.5rem;
    background-color: grey;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding:1rem;
    font-size:1rem;
}
